<form method="POST" action="/posts">
    <div>
        <label>Blog Post Name: </label>
        <input type="text" name="post[name]" />
    </div>
    <div>
        <label>Blog Post Content: </label>
        <input type="text" name="post[content]" />
    </div>
    <input type="submit">
</form>